<section class="about-us">
	<div class="container">
		<div class="about-us-inner">
			<img
				srcset="
				./img/about-us-1x.jpg  1x,
				./img/about-us-2x.jpg 2x
				"
				src="./img/about-us-1x.jpg"
				alt="about us"
				class="about-us_img"
				width="575"
			/>
			<div class="about-us-inner-content">
				<div class="about-us-svg-p-content">
					<svg class="about-us_svg" width="23" height="27">
						<use href="/img/sprite.svg#icon-gear2"></use>
					</svg>
					<p class="about-us-p-content">Welcome BlueCollar</p>
				</div>
				<h2 class="about-us_title">We Provide Your Future</h2>
				<p class="about-us-right-text1">Bluecollar Electrical services was established in 2008. We are trusted and reliable electricians who serve customers in the city as well as throughout United States Of America.
				</p>
				<p class="about-us-right-text2">We have extensive experience of domestic and business electrical installations and no job is too small. Our customers value our professionalism, work ethic and our competitive prices.
				</p>
				<div class="about-us-block-ul-content">
					<div class="about-us-date-block">
						<p class="about-us-date-js"></p>
						<p class="about-us-date_text">Years Of Experience</p>
					</div>
					<ul class="about-us-right-list">
						<li class="about-us-list_item">- For all your system requirements</li>
						<li class="about-us-list_item">- All work undertaken by qualified</li>
						<li class="about-us-list_item">- Experienced office staff on hand</li>
						<li class="about-us-list_item">- A Full Guarantee On Workmanship</li>
						<li class="about-us-list_item">- Properties at a reasonable price.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>