<section class="contact-us">
	<div class="container">
		<div class="contact-us-inner">
			<div class="contact-us-left">
				<div class="contact-us-svg-p-content">
					<svg class="contact-us_svg" width="22" height="27">
						<use href="/img/sprite.svg#icon-notes"></use>
					</svg>
					<p class="contact-us-p-content">Testimonial</p>
				</div>
				<h2 class="contact-us-left_title">Customers Says</h2>
				<div class="contact-us-comment-block">
					<div class="comment-block-inside">
						<div class="special-comment-wrapper-js"></div>
					</div>
					<div class="comment-nav-btns">
						<button class="comment-btn-left-js comment-btn-left-right">
							<svg class="client-arrow_svg" width="24" height="18">
								<use href="/img/sprite.svg#icon-left-arrow"></use>
							</svg>
						</button>
						<button class="comment-btn-right-js comment-btn-left-right">
							<svg class="client-arrow_svg1" width="24" height="18">
								<use href="/img/sprite.svg#icon-left-arrow"></use>
							</svg>
						</button>
					</div>
				</div>
				<div class="contact-info-container">
					<div class="contact-info-svg-p-content">
						<svg class="contact-info_svg" width="23" height="27">
							<use href="/img/sprite.svg#icon-notes"></use>
						</svg>
						<p class="contact-info-p-content">Any Question</p>
					</div>
					<h3 class="contact-info_title">99.9% Customer Satisfaction Based</h3>
					<p class="contact-info_text">
						If you have any questions or need help contact with our team, or call
					</p>
					<a class="contact-info-number-container" href="tel:+0031234567890">
						<div class="phone-svg-container">
							<svg class="contact-info-number_svg" width="26" height="26">
								<use href="/img/sprite.svg#icon-phone"></use>
							</svg>
						</div>
						<p class="contact-info-number_text">(003) 123 456 7890</p>
					</a>
				</div>
			</div>
			<div class="contact-us-right"></div>
		</div>
	</div>
</section>
