<header class="header">
	<div class="header-top-bg">
		<div class="container">
			<div class="header-top">
				<p class="header-hours">Opening Hours: 06:00 to 20:00</p>
				<button class="media-menu-btn-js">MENU</button>
				<ul class="header-socials">
					<li class="social-item">
						<a href="#" class="social-link" target="_blank">
							<svg class="header-social_svg" width="19" height="19">
								<use href="/img/sprite.svg#icon-facebook"></use>
							</svg>
						</a>
					</li>
					<li class="social-item">
						<a href="#" class="social-link" target="_blank">
							<svg class="header-social_svg" width="19" height="19">
								<use href="/img/sprite.svg#icon-twitter"></use>
							</svg>
						</a>
					</li>
					<li class="social-item">
						<a href="#" class="social-link" target="_blank">
							<svg class="header-social_svg" width="19" height="19">
								<use href="/img/sprite.svg#icon-pinterest"></use>
							</svg>
						</a>
					</li>
					<li class="social-item">
						<a href="#" class="social-link" target="_blank">
							<svg class="header-social_svg" width="19" height="19">
								<use href="/img/sprite.svg#icon-instagram"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="header-middle">
			<a href="#" class="header-logo">
				<svg class="header-logo_svg" width="242" height="48">
					<use href="/img/sprite.svg#icon-logo"></use>
				</svg>
			</a>
			<address class="header-address">
				<ul class="header-address-list">
					<li class="header-address-item">
						<a href="#" class="header-address-link" target="_blank">
							<svg class="header-address_svg" width="28" height="22">
								<use href="/img/sprite.svg#icon-email"></use>
							</svg>
						</a>
						<div class="header-address-info">
							<p class="header-address-info1">Mail Us</p>
							<a class="header-address-info2" href="mailto:Info@bluecollar.com"
								>Info@bluecollar.com</a
							>
						</div>
					</li>
					<li class="header-address-item">
						<a href="#" class="header-address-link" target="_blank">
							<svg class="header-address_svg" width="26" height="26">
								<use href="/img/sprite.svg#icon-phone"></use>
							</svg>
						</a>
						<div class="header-address-info">
							<p class="header-address-info1">Call Us</p>
							<a class="header-address-info2" href="tel:+01569896654"
								>+01 569 896 654</a
							>
						</div>
					</li>
				</ul>
			</address>
		</div>
	</div>
	<div class="container">
		<div class="header-bottom">
			<nav class="header-nav">
				<ul class="header-nav-list">
					<li class="header-nav-item">
						<a href="#hero" class="header-nav_link">Home</a>
					</li>
					<li class="header-nav-item">
						<a href="#about-us-section" class="header-nav_link">About Us</a>
					</li>
					<li class="header-nav-item">
						<a href="#types-of-service" class="header-nav_link">Pages</a>
					</li>
					<li class="header-nav-item">
						<a href="#blog" class="header-nav_link">Blog</a>
					</li>
					<li class="header-nav-item">
						<a href="#contact-us" class="header-nav_link">Contact Us</a>
					</li>
				</ul>
			</nav>
			<a href="#" class="header-bottom_questions">Have Any Questions?</a>
		</div>
	</div>
	<div class="media-menu-js">
		<button class="close-menu-btn-js">
			<svg class="header-close_svg" width="40" height="20">
				<use href="/img/sprite.svg#icon-right-arrow"></use>
			</svg>
		</button>
		<div class="media-menu-content">
			<nav class="header-nav-media">
				<ul class="header-nav-list-media">
					<li class="header-nav-item-media">
						<a href="#hero" class="header-nav_link-media">Home</a>
					</li>
					<li class="header-nav-item-media">
						<a href="#about-us-section" class="header-nav_link-media">About Us</a>
					</li>
					<li class="header-nav-item-media">
						<a href="#types-of-service" class="header-nav_link-media">Pages</a>
					</li>
					<li class="header-nav-item-media">
						<a href="#blog" class="header-nav_link-media">Blog</a>
					</li>
					<li class="header-nav-item-media">
						<a href="#contact-us" class="header-nav_link-media">Contact Us</a>
					</li>
				</ul>
			</nav>
			<address class="header-address-media">
				<ul class="header-address-list-media">
					<li class="header-address-item-media">
						<a href="#" class="header-address-link-media" target="_blank">
							<svg class="header-address_svg" width="28" height="22">
								<use href="/img/sprite.svg#icon-email"></use>
							</svg>
						</a>
					</li>
					<li class="header-address-item-media">
						<a href="#" class="header-address-link-media" target="_blank">
							<svg class="header-address_svg" width="26" height="26">
								<use href="/img/sprite.svg#icon-phone"></use>
							</svg>
						</a>
					</li>
				</ul>
			</address>
			<a href="#" class="header-bottom_questions-media">Have Any Questions?</a>
		</div>
	</div>
</header>
