<section class="our-services">
	<div class="container">
		<div class="our-services-inner">
			<div class="our-services-svg-p-content">
				<svg class="our-services_svg" width="23" height="27">
					<use href="/img/sprite.svg#icon-notes"></use>
				</svg>
				<p class="our-services-p-content">Area Of Service</p>
			</div>
			<h2 class="our-services_title">Our Services</h2>
			<p class="our-services-top_text">
				We offers a comprehensive range of electrical services for domestic and
				commercial properties at a reasonable price.
			</p>
			<ul class="our-services-list-js"></ul>
			<button class="our-services-shove-more-js">Shove More</button>
			<button class="our-services-hide-text-js">Hide text</button>
		</div>
	</div>
</section>
