<section class="choose-us">
	<div class="choose-us-inner">
		<div class="choose-us-inner-left">
			<div class="choose-us-left-content">
				<ul class="choose-us-left-list">
					<li class="choose-us-left-item">
						<p class="choose-us-left_number project-done-js"></p>
						<p class="choose-us-left_text">Project Done</p>
					</li>
					<li class="choose-us-left-item">
						<p class="choose-us-left_number people-working-js"></p>
						<p class="choose-us-left_text">People Working</p>
					</li>
					<li class="choose-us-left-item">
						<p class="choose-us-left_number business-partners-js"></p>
						<p class="choose-us-left_text">Business Partners</p>
					</li>
					<li class="choose-us-left-item">
						<p class="choose-us-left_number happy-customers-js"></p>
						<p class="choose-us-left_text">Happy Customers</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="choose-us-inner-right">
			<div class="choose-us-right-special-div">
				<svg class="choose-us_svg" width="22" height="27">
					<use href="/img/sprite.svg#icon-notes"></use>
				</svg>
				<p class="choose-us_text">Why Choose Us</p>
			</div>
			<h2 class="choose-us_title">Few Reasons Why You Should Choose Us</h2>
			<p class="choose-us-right-main_text">
				We are offering the following information's about us that what we actually
				do in the electrical sector. To Improve our customers’ lives by providing
				creative and cost-effective solutions to their needs.
			</p>
			<div class="choose-us-right-div choose-us-right-div-top">
				<div class="svg-ok-container">
					<svg class="choose-us-right_svg" width="13" height="11">
						<use href="/img/sprite.svg#icon-ok"></use>
					</svg>
				</div>
				<p class="choose-us-right-div_text">
					<span class="our-date-js"></span> Years Experience
				</p>
			</div>
			<p class="choose-us-right-bottom_text">
				Effective communication is the key to success for any business. From our
				office staff, to our field.
			</p>
			<div class="choose-us-right-div">
				<div class="svg-ok-container">
					<svg class="choose-us-right_svg" width="13" height="11">
						<use href="/img/sprite.svg#icon-ok"></use>
					</svg>
				</div>
				<p class="choose-us-right-div_text">Excellence Certificate</p>
			</div>
			<p class="choose-us-right-bottom_text">
				We understand fully that your time is of extreme value. We are committed to
				meeting deadlines.
			</p>
			<div class="choose-us-right-div">
				<div class="svg-ok-container">
					<svg class="choose-us-right_svg" width="13" height="11">
						<use href="/img/sprite.svg#icon-ok"></use>
					</svg>
				</div>
				<p class="choose-us-right-div_text">Affordable Price</p>
			</div>
			<p class="choose-us-right-bottom_text">
				We adhere strictly to the current National Electrical Code, and we conduct
				regular in-house sessions.
			</p>
		</div>
	</div>
</section>
