<section class="top-section">
	<div class="container">
		<div class="top-section-content">
			<div class="top-section-svg-text">
				<svg width="30" height="30" class="top-section-content_svg">
					<use href="/img/sprite.svg#icon-gear"></use>
				</svg>
				<p class="top-section-content_text">
					Improve our customers’ lives by providing effective solutions.
				</p>
			</div>
			<h1 class="main-title">A recognized leader in services industry</h1>
			<a href="#" class="top-section-services">View Services</a>
		</div>
	</div>
</section>
