<section class="types-of-service" id="types-of-service">
	<div class="container">
		<div class="service-inner">
			<div class="service-svg-p-content">
				<svg class="service_svg" width="23" height="27">
					<use href="/img/sprite.svg#icon-gear2"></use>
				</svg>
				<p class="service-p-content">What We Offer</p>
			</div>
			<h2 class="service_title">Professional Main Services</h2>
			<p class="service-top_text">
				We have extensive experience of domestic and business electrical
				installations and no job is too small. Our customers value our
				professionalism, work ethic and our competitive prices.
			</p>
			<div class="service-buttons">
				<button class="service-btn1-js service-btn-style" style="background-color: #fff;" type="button">
					<img
						src="./img/png/buildings-black.png"
						alt="buildings"
						class="service-btn_png"
						width="36"
						height="36"
					/>
					Commercial
				</button>
				<button class="service-btn2-js service-btn-style" type="button">
					<img src="./img/png/building.png" alt="fabric" class="service-btn_png" width="34"
					height="34"/>
					Residential
				</button>
				<button class="service-btn3-js service-btn-style" type="button">
					<img src="./img/png/fabric.png" alt="fabric" class="service-btn_png" width="34"
					height="34"/>
					Industrial
				</button>
			</div>
			<div class="service-bottom-container">
				<div class="service-bottom-card1-js is-open">
					<div class="service-bottom-card-left">
						<div class="service-card-left-content">
							<img
								src="./img/png/buildings-yellow.png"
								alt="buildings"
								class="service-card-left_png"
								width="28"
								height="28"
							/>
							<p class="service-card-left_text">What We Offer</p>
						</div>
						<h3 class="service-card_title">Commercial</h3>
						<p class="service-card_text">
							Electrical & Maintenance Services Ltd offers a full range of electrical
							services to suit your needs – from moving a light switch to complete
							house rewires.
						</p>
						<p class="service-card_text2">
							In addition to providing fully qualified, competent electricians in and
							around London, the company also runs an electrical wholesale shop.
						</p>
						<p class="service-card_text2 card-hidden-text1-js" style="display: none;">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, temporibus. Qui esse voluptatibus rem neque debitis id doloremque eos ab.
						</p>
						<button class="service-card_btn1-js service-card_btn-style" type="button">Read More</button>
					</div>
					<img
						srcset="
							./img/types-of-sevices-1x.jpg 1x,
							./img/types-of-sevices-2x.jpg 2x
						"
						src="./img/types-of-sevices-1x.jpg"
						alt="about us"
						class="service-card_img"
						width="416"
					/>
				</div>
				<div class="service-bottom-card2-js">
					<div class="service-bottom-card-left">
						<div class="service-card-left-content">
							<img
								src="./img/png/buildings-yellow.png"
								alt="buildings"
								class="service-card-left_png"
							/>
							<p class="service-card-left_text">What We Offer</p>
						</div>
						<h3 class="service-card_title">Commercial</h3>
						<p class="service-card_text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur velit, odit adipisci suscipit omnis voluptates culpa amet voluptatem aliquid molestias.
						</p>
						<p class="service-card_text2">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, temporibus. Qui esse voluptatibus rem neque debitis id doloremque eos ab.
						</p>
						<p class="service-card_text2 card-hidden-text2-js" style="display: none;">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, temporibus. Qui esse voluptatibus rem neque debitis id doloremque eos ab.
						</p>
						<button class="service-card_btn2-js service-card_btn-style" type="button">Read More</button>
					</div>
					<img
						srcset="
							./img/types-of-sevices-1x.jpg 1x,
							./img/types-of-sevices-2x.jpg 2x
						"
						src="./img/types-of-sevices-1x.jpg"
						alt="about us"
						class="service-card_img"
						width="416"
					/>
				</div>
				<div class="service-bottom-card3-js">
					<div class="service-bottom-card-left">
						<div class="service-card-left-content">
							<img
								src="./img/png/buildings-yellow.png"
								alt="buildings"
								class="service-card-left_png"
							/>
							<p class="service-card-left_text">What We Offer</p>
						</div>
						<h3 class="service-card_title">Commercial</h3>
						<p class="service-card_text">
							Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum facere fuga quibusdam quisquam porro esse nulla nisi vero ea quidem.
						</p>
						<p class="service-card_text2">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, nulla! Assumenda provident earum numquam rerum dolorum? Quisquam dolores aliquid voluptatum!
						</p>
						<p class="service-card_text2 card-hidden-text3-js" style="display: none;">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, temporibus. Qui esse voluptatibus rem neque debitis id doloremque eos ab.
						</p>
						<button class="service-card_btn3-js service-card_btn-style" type="button">Read More</button>
					</div>
					<img
						srcset="
							./img/types-of-sevices-1x.jpg 1x,
							./img/types-of-sevices-2x.jpg 2x
						"
						src="./img/types-of-sevices-1x.jpg"
						alt="about us"
						class="service-card_img"
						width="416"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
