.gallery-inner {
	background-color: #1c2752;
	padding: 140px 20px 120px 20px;
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
}

/* -----------grey block---------------- */
.gallery-svg-p-content {
	display: grid;
	grid-template-columns: 22px 141px;
	gap: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #f4f4f4;
	max-width: 213px;
	height: 27px;
}

.gallery_svg {
	stroke: #ffb342;
	fill: none;
}

.gallery-p-content {
	text-transform: capitalize;
	color: #1c2752;
}
/* ------------------------------------ */
.gallery_title {
	font-family: 'Mulish', sans-serif;
	font-weight: 400;
	font-size: 45px;
	line-height: 130%;
	letter-spacing: 0.01em;
	text-align: center;
	color: #fff;
	margin-top: 22px;
}

/* ------------------------------------ */
.gallery-item {
	display: grid;
	background-color: #fff;
	border: 1px solid #d2d2d2;
	padding: 21px 21px 26px;
	max-width: 320px;
}

.gallery-item.is-close {
	display: none;
}

.gallery-item_title {
	font-family: 'Mulish', sans-serif;
	font-weight: 400;
	font-size: 25px;
	line-height: 150%;
	letter-spacing: 0.01em;
	text-transform: capitalize;
	text-align: center;
	color: #1c2752;
}

.gallery-item_text {
	font-size: 17px;
	line-height: 159%;
	text-align: center;
}
/* ------------------------------------ */

.gallery-list.a.b.c.d {
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-content: center;
	gap: 30px;
	max-width: 100%;
	margin-top: 50px;
}

.gallery-shove-more {
	display: none;
}

.gallery-shove-more.is-open {
	display: block;
	white-space: nowrap;
	background-color: #ffb342;
	padding: 20px 40px;
	margin-top: 20px;
}

@media screen and (max-width: 1000px) {
	.gallery-item {
		background-color: #fff;
		border: 1px solid #d2d2d2;
		padding: 15px 15px 20px;
		max-width: 320px;
	}

	.gallery-item_title {
		font-size: 18px;
	}

	.gallery-item_text {
		font-size: 14px;
		line-height: 150%;
	}

	.gallery-p-content {
		font-size: 14px;
	}

	.gallery_title {
		font-size: 36px;
	}
}

@media screen and (max-width: 768px) {
	.gallery-list.a.b.c.d {
		display: grid;
		grid-template-columns: repeat(2, auto);
		justify-content: center;
		align-content: center;
		justify-items: center;
		align-content: center;
		gap: 30px;
		max-width: 100%;
		margin-top: 50px;
	}
}
